* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
    font-family: pixel;
    src: url(Typographie/PixelOperator-Bold.ttf);
}

#background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url(pictures/BackgroundHomePageeTel.png);
}

/* ---------------------------------------------------  MENTIONS ---------------------------------------------------*/


#byWho {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 14%;
    gap: 0;
    width: 40%;
    /* background-color: red; */
    font-size: 60px;
    font-family: pixel;
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;

    -webkit-text-stroke: 16px rgb(0, 0, 0);
    paint-order: stroke fill;
    animation: littleMove 0.8s ease-in-out infinite;
    overflow-y: hidden;
    overflow-x: hidden;
}

#designer {
    -webkit-text-stroke: 16px rgb(0, 0, 0);
    color: rgb(202, 174, 237);
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

#designer:hover {
    -webkit-text-stroke: 16px rgb(202, 174, 237);
    color: black;
}

#characters {
    height: 45%;
    width: 100%;
    color: rgb(243, 194, 147);

}



/* ---------------------------------------------------  TITRE ---------------------------------------------------*/


#title {
    text-align: center;
    flex-direction: column;
    /* height: 100vw; */
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 4%;
    font-family: pixel;
    gap: 1;
    font-size: 70px;
    -webkit-text-stroke: 16px rgb(0, 0, 0);
    paint-order: stroke fill;
    text-shadow: 14px 14px 0 rgba(0, 0, 0, 0.72);



    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.name {
    color: #7DCB1C;
}

.job {
    color: rgba(196, 128, 63, 1);

}

/* ---------------------------------------------------  BOUTTON PLAY ---------------------------------------------------*/


#playButton {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-family: pixel;
    font-size: 60px;
    margin-right: 60px;
    color: #CD953E;
    -webkit-text-stroke: 8px rgb(0, 0, 0);
    paint-order: stroke fill;
    gap: 15px;
    animation: twinkle 1s ease-in-out infinite;
}

#selected {
    transition: background-image 0.7s ease, width 0.7s ease;
    background-image: none;
    width: 60px;
}

#playButton:hover {
    text-decoration: underline;
    transition: all 0.4s ease;
    color: #f8b74d;


    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}


/* ---------------------------------------------------  ANIMATIONS ---------------------------------------------------*/

@keyframes twinkle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes littleMove {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);

    }

    100% {
        transform: scale(1);

    }
}

/* ---------------------------------------------------  PNG ---------------------------------------------------*/

#pngSpeak {
    height: 300px;
    width: 250px;
    background-image: url(pictures/Character/pngSpirit.gif);
    background-size: cover;

    position: absolute;
    bottom: 0;
}

#bubbleMsg {
    position: absolute;
    background-image: url(pictures/props/bubbleWelcome.png);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 290px;
    top: -80%;
    right: -80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment {
    margin-top: 20%;
    height: 80%;
    width: 80%;
    text-align: center;
    font-family: pixel;
    font-size: 29px;
}


/* ---------------------------------------------------  MEDIA QUERY POUR TÉLÉPHONE ---------------------------------------------------*/


@media screen and (max-width: 440px) {


    #title {
        text-align: center;
        flex-direction: column;
        /* height: 100vw; */
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10%;
        font-family: pixel;
        gap: 20px;
        font-size: 25px;
        -webkit-text-stroke: 8px rgb(0, 0, 0);
        /* paint-order: stroke fill; */
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.72);



        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .name {
        color: #7DCB1C;
    }

    .job {
        color: rgba(196, 128, 63, 1);

    }


    #playButton {
        display: flex;
        justify-content: center;

        margin-top: 15%;
        font-family: pixel;
        font-size: 32px;
        width: 100%;
        color: #CD953E;
        -webkit-text-stroke: 8px rgb(0, 0, 0);
        paint-order: stroke fill;
        gap: 15px;
        user-select: none;
    }

    #selected {
        transition: background-image 0.7s ease, width 0.7s ease;
        background-image: url(pictures/TriangleSelector.svg);
        background-size: contain;
        width: 30px;
    }


    #pngSpeak {
        height: 200px;
        width: 200px;
        background-image: url(pictures/Character/pngSpirit.gif);
        background-size: cover;

        position: absolute;
        bottom: 0;
    }

    #bubbleMsg {
        position: absolute;
        background-image: url(pictures/props/bubbleWelcome.png);
        background-size: cover;
        background-position: center;
        height: 220px;
        width: 200px;
        top: -80%;
        right: -55%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #comment {
        margin-top: 20%;
        height: 80%;
        width: 80%;
        text-align: center;
        font-family: pixel;
        font-size: 20px;
    }

    #byWho {
        font-size: 22px;
        height: 12%;
        width: 60%;
    -webkit-text-stroke: 10px rgb(0, 0, 0);

    }

    #designer {
        font-size: 27px ;
    -webkit-text-stroke: 10px rgb(0, 0, 0);
    }


    #characters {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: space-between;
    }
}